
a {
  color: $link-light-grey;
}
a:hover {
  color: $#ff0066;
  text-decoration: none;
}

::selection {
  background: $#ff0066;
  text-shadow: none;
}

footer {
  padding-top: 20px;
  background-color: #F7F7F7;
  width:100%;
  position: relative;
  bottom:0;
}

.footer-title{
font-family: 'Questrial', sans-serif;
font-size: 25px;
padding-left:10px;
font-color:black;

}

.footer-column {
  text-align: center;
}

ul.social-buttons {
  margin-bottom: 0;
}
.list-inline-item{
text-align: center;
 padding: 10px;

}

i{
color: #FF385C;
}

.copyright quick-links{
font-family: 'Questrial', sans-serif;

}

}