

body {
    background-color: #fffdfa;
    display: flex;
      flex-direction: column;

}

#top-header{
background-color:black;
}

#header {
    font-family: 'Questrial', sans-serif;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ff0066;
}

#header #header-inner {
    position: relative;
    top: 25%;
    text-align: center;
}

#header #header-inner h1 {
    font-size: 6em;
    padding-top:30px;
    color:#222222;
}

#header #header-inner h2 {
    margin-top: 50px;
    font-size: 2.5em;
}


h1, h2, h3, h4, h5, h6, a, p{
   font-family: 'Questrial', sans-serif;
    margin-top: 20px;
    margin-bottom:20px
    color: #FF385C;

   }



label{
font-family: 'Questrial', sans-serif;
color: #FF385C;
font-size:18px;
font-weight: bold;
  margin-top: 20px;
      margin-bottom: 10px;
      margin-right: 0px;
      margin-left: 0;

}



td, th{
font-family: 'Questrial', sans-serif;
}


th{
background-color: #ff0066;
}



.invalid{
color:red;
weight:bold;
font-size: 20px; }

.greeting{
color: #FF385C;
weight:bold;
font-size: 20px;
position:relative;
}


   .form-group,{
   font-family: 'Questrial', sans-serif;
   font-weight: bold;
   color: #FF385C;


   }

input {
 font-family: 'Questrial', sans-serif;
    margin-top: 10px;
    width: 100%;

}

.heading{
color: white;
 background-style: white;
 font-size: 30px;
font-weight: 400;
tl-letter-spacing: -0.02em;
tl-line-height
    }

.form-inline .form-control{
width:100%;
 height:50%;}

#link{
margin-right:20px;}


  .btn{
   font-family: 'Questrial', sans-serif;
   color:white;
   border: 2px transparent rgba(217, 83, 78, 0.75);
   border-radius: 20px;
   background:#ff0066;
   display: inline-block;
   vertical-align: top;
   margin-bottom:20px


   }

   .btn-lg{
   margin-top:25px;
   margin-right:100px;


   }


   .btn:hover{
   font-family: 'Questrial', sans-serif;
   color:#ff0066;
   background:white;
   border: 2px transparent rgba(217, 83, 78, 0.75);
   border-radius: 50px;
   border-color:#black;

   }

   #content {
    margin-top: 40px;
}

#content #content-header {
    font-size: 5em;
}

.event-box {
text-shadow: 1px 0.5px;
    width: 100%;
    height: 400px;
    background-color: #transparent;
    margin-bottom: 35px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    padding:20px;
}

.event-box:hover {
    box-shadow: 1px 4px 13px -1px #262626;
    transition: 0.5s;
}

.event-box a {
    color: inherit;
    text-decoration: none;
}

.event-box .event-inner {
    height: 100%;
    overflow: hidden;
}

.event-box .event-info {
    position: relative;
    text-align: center;
    top: 25%;
}

.event-info h1 {
    font-size: 3em;
    font-weight:700
    line-height:36px
}
/* horizontal rows*/
.event-info hr {
color: white;
    width: 60%;
    border: 2px solid #ff0066;
}


#roleSelect {
margin:10px;
margin-top:26px;
 position: align; }

#apartments {
    background-size: cover;
    background-image: url(./img/rainier.jpg);

}

#bookings {
    background-size: cover;
    background-image: url(./img/wigwam.jpeg);
}
#account {
    background-size: cover;
    background-image: url(./img/onsen.jpeg);
    }

#booking-table{
padding-bottom:60px;}


