<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="carousel">

    <div class="carousel">
                <div class="carousel_track-container">
                    <ul class="carousel_track">
                        <li class="carousel_slide current-slide">
                            <img class="carousel_image" src="/img/newYork.jpg" alt="an image of Brooklyn bridge in New York at night "></li>
                        <li class="carousel_slide">
                            <img class="carousel_image" src="/img/bedroom.jpg" alt="an image of a hotel room"></li>
                        <li class="carousel_slide">
                            <img class="carousel_image" src="/img/bitRainy.jpeg" alt="an image of a rainy street"></li>
                    </ul>

                    <a class="carousel-button prev">&#10094;</a>
            <a class="carousel-button next">&#10095;</a>
        </div>

        <div class="carousel_nav">
            <button class="carousel_indicator current-slide"></button>
            <button class="carousel_indicator"></button>
            <button class="carousel_indicator"></button>
        </div>
    </div>
    <div  class="heading container">
        <h2 id="slogan" class="text-center" >Made possible by Hosts</h2>

    </div>
    <br>

</div>
</body>
</html>
