<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <title th:text="${title}"></title>
    <meta name="description" content="An accommodation booking/hosting website service">
<link rel="stylesheet" href="bootstrap/css/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/index.css">
<link rel="stylesheet" href="/carousel.css">
<link rel="stylesheet" href="/nav.css">

</head>
