<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="bootstrap/js/js/bootstrap.bundle.min.js">

    <link rel="stylesheet" href="bootstrap/css/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/header.css">


    <link th:href="@{/nav.css}" rel="stylesheet"/>
</head>
<body>
<div th:fragment="header>">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/index">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul id="myDIV" class="navbar-nav">
                <li th:class="${#strings.equals(activeLink, 'Booking')} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" href="booking">Bookings</a>
                </li>
                <li th:class="${#strings.equals(activeLink, 'Apartment')} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" href="apartment">Apartment</a>
                </li>
                <li th:class="${#strings.equals(activeLink, 'Customer')} ? 'nav-item dropdown active' : 'nav-item'">
                    <a class="nav-link dropdown-toggle" href="customer" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Customer </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="addCustomerForm">Add a customer</a>
                        <a class="dropdown-item" href="/findACustomerForm">Find a customer</a>
                        <a class="dropdown-item" href="/getAllCustomers">See list of all customers</a>
                        <a class="dropdown-item" href="/deleteCustomerForm">Delete a customer</a>
                        <a class="dropdown-item" href="/updateCustomerForm">Update a customer</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<script src="js/bootstrap.min.js"></script>
<script src="js/nav.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>
