<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Add a Customer</title>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/addCustomer.css}" rel="stylesheet" />
</head>
<body>
<h1>Add a new Customer</h1>


<form action="#" th:action="@{/addResult}" th:object="${customer}" method="POST">
    <p>Customer Name: <input type="text" th:field="*{name}" /></p>
<!--    <label>Booking Confirmed: <input type="Boolean" name="bookingConfirmed" th:field="*{bookingConfirmed = false}">  <p> Please type either 'true' or false' </p></label>-->

    <label>Booking:</label>
    <select th:field="*{bookingConfirmed}">
        <option th:value= "false" th:text="False"></option>
        <option th:value= "true" th:text="True"></option>
    </select>


<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

</form>


<a href="/index">Main Page</a>
</body>

</html>

