<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Spring MVC Thymeleaf</title>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/mystyle.css" rel="stylesheet"/>
</head>
<body>
<h1>Add a a customer</h1>


<form action="#" th:action="@{/addResult}" th:object="${customer}" method="POST">
    <p>name: <input type="text" th:field="*{name}" /></p>
    <label><input type="Boolean" name="bookingConfirmed" th:field="*{bookingConfirmed = false}"> Booking</label>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</form>
</body>
</html>
</body>
</html>


<!--h:unchecked="false"-->