<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="Fragments/head :: head"/>

<body>

<nav th:replace="Fragments/nav :: nav"></nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Add a new Customer</h1>
            <form action="#" th:action="@{/addResult}" th:object="${customer}" method="POST">
                <div class="form-group">
                    <label> Customer Name </label>
                    <input type="text" class="form-control col-lg-4" th:field="*{name}"/>
                    <small id="advice" class="form-text text-muted">Enter the new customer's name</small>
                </div>
                <div class="form-group">
                    <label> User Name </label>
                    <input type="text" class="form-control col-lg-4" th:field="*{userName}"/>
                </div>
                <div class="form-group">
                    <label class="dropdown"> Booking: </label>
                    <select th:field="*{bookingConfirmed}" class="form-control col-lg-2">
                        <option th:value="false" th:text="False"></option>
                        <option th:value="true" th:text="True"></option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="btn btn-md col-lg-2" type="submit" value="Submit"/>
                    <input class="btn btn-md col-lg-2" type="reset" value="Reset"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>

</html>

