<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link th:href="@{/addResult.css}" rel="stylesheet" />
</head>
<body>
<div class = "container">
    <h2>Customer Added Successfully!</h2>
    <span>ID:</span><span th:text="${customer.id}"></span><br/>
    <span>Name:</span><span th:text="${customer.name}"></span><br/>
    <span>Booking Confirmed:</span><span th:text="${customer.bookingConfirmed}"></span><br/>
    <span>Date Added:</span><span th:text="${customer.date}"></span><br/>

</div>

<a href="/addCustomer">Add another customer</a>
<a href="/index">Main Page</a>
</div>
</body>
</html>