<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="bootstrap/css/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<nav th:replace="Fragments/nav :: nav"></nav>


<div class="container">
    <h2>Customer added successfully!: </h2>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Booking</th>
            <th>Date</th>
        </tr>
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.bookingConfirmed}"></td>
        <td th:text="${customer.date}"></td>
        </tr>
    </table>

</div>
</body>
</html>