<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/head :: head"/>

<body>

<nav th:replace="Fragments/nav :: nav"></nav>

<header th:replace="Fragments/carousel :: carousel"></header>


<section id="header">
    <div id="header-inner">
        <h1>Apartments</h1>
    </div>
</section>

<div class="container">
    <h3>Make a selection:</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/addApartment">Add an apartment</a></li>
        <li class="list-group-item"><a href="/findAnApartment">Find an apartment</a></li>
        <li class="list-group-item"><a href="/showAllApartments">List of all apartments</a></li>
        <li class="list-group-item"><a href="/deleteApartmentForm">Delete an apartment</a></li>
        <li class="list-group-item"><a href="/updateApartmentForm">Update an apartment</a></li>
    </ul>
</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>

</html>