<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/head :: head"/>

<body>

<nav th:replace="Fragments/nav :: nav"></nav>
<section id="header">
    <div id="header-inner">
        <h1>400 Bad Request!</h1>
        <h3>Please ensure that all fields have been completed correctly</h3>
    </div>
</section>

<button class="btn btn-lg btn-block display-3" onclick="goBack()">Go Back</button>



<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>

</html>