<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/head :: head"/>

<body>

<nav th:replace="Fragments/nav :: nav"></nav>

<header th:replace="Fragments/carousel :: carousel"></header>

<section id="header">
    <div id="header-inner">
        <h1>Bookings</h1>
    </div>
</section>

<div class="container">
    <h3>Make a selection:</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/newBookingCreate">Make a new Booking</a></li>
        <li class="list-group-item"><a href="/getBooking">View A Booking</a></li>
        <li class="list-group-item"><a href="/deleteBookingForm">Delete A Booking</a></li>

    </ul>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>