<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap/css/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="Fragments/nav :: nav"></nav>

<div class = "container">
    <h2>Customer Deleted: </h2>
        </tr>
        <tr>
        </tr>
    </table>
</div>
</body>
</html>