<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Customer Selection</title>
</head>
<body>
<div class = "container">
        <h2>Your selection: </h2>
        <table class ="table table-striped" >
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Booking</th>
                <th>Date</th>
            </tr>
            <tr th:each ="customer :${customer}" >
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.bookingConfirmed}"></td>
                <td th:text="${customer.date}"></td>
            </tr>
            <tr>
            </tr>
        </table>
    </div>
</div>
</body>
</html>

