<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/head :: head"/>

<body>

<nav th:replace="Fragments/nav :: nav"></nav>

<header th:replace="Fragments/carousel :: carousel"></header>


<section id="header">
    <div id="header-inner">
        <h1>Customer</h1>
        <h5>Make a selection: </h5>
    </div>
</section>

<div class="container">
    <h3>Make a selection:</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/addCustomerForm">Add a customer</a></li>
        <li class="list-group-item"><a href="/findACustomerForm">Find a customer</a></li>
        <li class="list-group-item"><a href="/getAllCustomers">See list of all customers</a></li>
        <li class="list-group-item"><a href="/deleteCustomerForm">Delete a customer</a></li>
        <li class="list-group-item"><a href="/updateCustomerForm">Update a customer</a></li>
    </ul>
</div>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>