<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/head :: head"/>

<nav th:replace="Fragments/nav :: nav"></nav>

<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<h2>This will be your account page with everything in it like bookings and shite</h2>
</div>
<div>
    <a href="/index">Go to main page</a></li>
</div>

</section>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>