<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/head :: head"/>

<body>

<nav th:replace="Fragments/nav :: nav"></nav>

<div class="container">
    <section id="header">
        <div id="header-inner">
<h2>Booking deleted successfully! </h2>
</div>
    </section>
</div>
<div class="container">
    <a class="btn btn-md col-lg-2" type="submit" href="/account">Back to your account</a>
</div>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>