<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/head :: head"/>

<body>

<nav th:replace="Fragments/nav :: nav"></nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Select a customer to delete</h1>
            <form action="#" th:action="@{/customerDeleted}" th:object="${customer}" method="delete"
            <div class="form-group">
                <label> Customer ID </label>
                <input type="text" class="form-control" th:field="*{id}"/>
                <small id="advice" class="form-text text-muted">Enter the customer's ID</small>
            </div>
            <p><input class="button" type="submit" value="Submit"/> <input class="button" type="reset" value="Reset"/>
                </form>
        </div>
    </div>
</div>
</form>

</body>

<div th:replace="fragments/footer :: footer"></div>
</html>