<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/head :: head"></head>

<body>

<div th:replace="fragments/scripts :: scripts"></div>
<nav th:replace="Fragments/nav :: nav"></nav>

<h1 th:text="${status}|"></h1>
<h2 th:text="${message}"></h2>
<h2> Please make sure you have the correct rights to access this page!</h2>


<input class="btn btn-lg btn-block display-3"type="button" value="Go Back!" onclick="history.back(-1)" />

<a href="index">Home</a>

<div th:replace="fragments/scripts :: scripts"></div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
