<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/head :: head"/>

<body>

<nav th:replace="Fragments/nav :: nav"></nav>>


<div class="container">
    <h2>Apartment: </h2>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Location</th>
            <th>Guest Capacity</th>
            <th>Rating</th>
            <th>Rooms</th>
            <th>Your choices</th>
        </tr>
        <td th:text="${apartment.id}"></td>
        <td th:text="${apartment.title}"></td>
        <td th:text="${apartment.address}"></td>
        <td th:text="${apartment.guestCapacity}"></td>
        <td th:text="${apartment.rating}"></td>
        <td th:text="${apartment.rooms}"></td>
        <td> <a th:href="@{/bookASpecificApartment/{id}(id=${apartment.id})}">Book</a></td>
        </tr>
    </table>
</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>