<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="Fragments/head :: head"/>

<body>

<nav th:replace="Fragments/nav :: nav"></nav>
<header th:replace="Fragments/carousel :: carousel"></header>


<section id="header">
    <div id="header-inner">
        <h1>Booking stuff</h1>
    </div>
</section>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div sec:authorize="isAuthenticated()">
                    <h1 id="content-header" class="text-center" th:inline="text">Welcome,
                        [[${#httpServletRequest.remoteUser}]]!</h1>
                </div>
            </div>
        </div>
    </div>
<section id="content">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="event-box">
                <a href="customer" target="_blank">
                    <div class="event-inner" id="customers">
                        <div class="event-info">
                            <hr>
                            <h1>
                                <strong>Customers</strong>
                            </h1>
                            <hr>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
            <div class="event-box">
                <a href="booking" target="_blank">
                    <div class="event-inner" id="bookings">
                        <div class="event-info">
                            <hr>
                            <h1>
                                <strong>Bookings</strong>
                            </h1>
                            <hr>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="event-box">
            <a href="apartment" target="_blank">
                <div class="event-inner" id="apartments">
                    <div class="event-info">
                        <hr>
                        <h1>
                            <strong>Apartments</strong>
                        </h1>
                        <hr>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</section>

<div th:replace="fragments/footer :: footer"></div>


</body>
</html>