<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="bootstrap/css/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/footer.css">


    <title>Main page</title>

    <link rel="stylesheet" href="/index.css">
</head>
<body>
<nav th:replace="Fragments/nav :: nav"></nav>

<section id="header">
    <div id="header-inner">
        <h1>Hello, world</h1>
        <h5>Edit Customer bookings</h5>
    </div>
</section>



</form>




<footer th:replace="Fragments/footer :: footer"></footer>
</body>
</html>