<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/head :: head"></head>

<body>

<nav th:replace="Fragments/nav :: nav"></nav>

<div class="container">
    <h2>Booking added successfully! </h2>
<h3> Thank you for booking!
     We will see you soon!
     Please don't forget to bring some ID to present to your host </h3>


    <table class="table table-striped">
        <tr>
            <th>Booking ID</th>
        </tr>
        <tr>
            <td th:text="${booking.getId()}"></td>
        </tr>
        <tr>
            <th>First Name</th>
            <th>Surname</th>
            <th>Address</th>
            <th>Email</th>
        </tr>
        <tr>
            <td th:text="${booking.getUser().getFirstName()}"></td>
            <td th:text="${booking.getUser().getLastName()}"></td>
            <td th:text="${booking.getUser().getAddress()}"></td>
            <td th:text="${booking.getUser().getEmail()}"></td>
        </tr>
        <tr>
            <th>Apartment ID</th>
            <th>Apartment Title</th>
            <th>Apartment Address</th>
            <th>Apartment Guest Capacity</th>
            <th>Apartment Rooms</th>
            <th>Apartment Rating</th>
        </tr>
        <tr>
            <td th:text="${booking.getApartment().getId()}"></td>
            <td th:text="${booking.getApartment().getTitle()}"></td>
            <td th:text="${booking.getApartment().getAddress()}"></td>
            <td th:text="${booking.getApartment().getGuestCapacity()}"></td>
            <td th:text="${booking.getApartment().getRooms()}"></td>
            <td th:text="${booking.getApartment().getRating()}"></td>
        </tr>
    </table>

    <input class="btn btn-lg btn-block display-3" type="button" value="Go Back!" onclick="history.back(-1)" />
</div>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
<div th:replace="fragments/scripts :: scripts"></div>
</html>