<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="bootstrap/css/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<nav th:replace="Fragments/nav :: nav"></nav>


<div class="container">
    <h2>Booking added successfully!: </h2>




    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Location</th>
            <th>Date Start</th>
            <th>Date End</th>
            <th>Guest Capacity</th>
        </tr>


        <td th:text="${booking.id}"></td>
        <td th:text="${booking.title}"></td>
        <td th:text="${booking.location}"></td>
        <td th:text="${#dates.format(booking.occupiedStartDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
        <td th:text="${#dates.format(booking.occupiedEndDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
        <td th:number="${booking.guestCapacity}"></td>
        <td th:number="${booking.rating}"></td>
        <td th:number="${booking.rooms}"></td>
        </tr>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Booking</th>
            <th>Date</th>
        </tr>
        <td th:text="${booking.id}"></td>
        <td th:text="${booking.name}"></td>
        <td th:text="${booking.bookingConfirmed}"></td>
        <td th:text="${booking.date}"></td>
        </tr>
    </table>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>

</html>