<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="bootstrap/css/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/index.css">

    <title>Registration</title>

</head>
<body>
<nav th:replace="Fragments/nav :: nav"></nav>
<body>
<form class="form-signin" th:action="@{/registrationResult}" method="post">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Signup Here</h1>
                <div th:if="${param.error}">
                    Invalid email and password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
                <label for="inputEmail" class="sr-only">Username</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Username"
                       required=""/>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                       required=""/>

                <button class="button" type="submit">Sign Up</button>
            </div>
        </div>
    </div>
</form>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-signin" th:action="@{/login}" method="get">
                <button class="button" id="signout" type="Submit">Sign In</button>
            </form>
        </div>
    </div>
</div>

</div>
</body>
</html>