<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/head :: head"/>

<body>

<nav th:replace="Fragments/nav :: nav"></nav>

<div class="container">
    <h2 th:text="${successMessage}"></h2>
    <table class="table table-striped">
        <tr>
            <th>email</th>
            <th>pass</th>
        </tr>
        <tr>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
        </tr>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>