<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap/css/css/bootstrap.min.css">

</head>
<body>
<nav th:replace="Fragments/nav :: nav"></nav>
<h1>Select a customer to replace: </h1>

<div class = "input">
<form action="#" th:action="@{/replaceCustomer}" th:object="${customer}" method="put">
            <p>Id: <input type="text" th:field="*{id}" /></p>
            <p>Customer Name: <input type="text" th:field="*{name}"/></p>
            <label>Booking:</label>
            <select th:field="*{bookingConfirmed}">
                <option th:value="false" th:text="False"></option>
                <option th:value="true" th:text="True"></option>
            </select>
            <p> <input class ="button" type="submit" value="Submit"/>    <input class ="button" type="reset" value="Reset"/></p>
        </form>
</div>
</body>
</html>