<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="Fragments/head :: head"/>

<body>

<nav th:replace="Fragments/nav :: nav"></nav>

<div class="container">
    <h2>List of all apartments: </h2>
    <table class="table table-striped">
        <tr>
            <th>Apartment ID</th>
            <th>Title</th>
            <th>Address</th>
            <th>Guest Capacity</th>
            <th>Rooms</th>
            <th>Rating</th>
            <th></th>
        </tr>
        <tr th:each="apartment :${apartment}">
            <td th:text="${apartment.id}"></td>
            <td th:text="${apartment.title}"></td>
            <td th:text="${apartment.address}"></td>
            <td th:text="${apartment.guestCapacity}"></td>
            <td th:text="${apartment.rating}"></td>
            <td th:text="${apartment.rooms}"></td>
            <span sec:authorize="hasAuthority('USER_CUSTOMER')">
                <td> <a th:href="@{/bookASpecificApartment/{id}(id=${apartment.id})}">Book</a></td>
            </span>
        </tr>
    </table>
    <input class="btn btn-lg btn-block display-3"type="button" value="Go Back!" onclick="history.back(-1)" />

</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>