<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Update an Apartment's details</title>

    <link rel="stylesheet" href="bootstrap/css/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/index.css">
</head>

<body>

<nav th:replace="Fragments/nav :: nav"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Update an Apartment's details</h1>
            <form action="#" th:action="@{/apartmentResult}" th:object="${apartment}" method="POST">
                <div class="form-group">
                    <label> Apartment title </label>
                    <input type="text" class="form-control" th:field="*{title}"/>
                    <small id="advice" class="form-text text-muted">Enter the new apartment's name</small>
                </div>
                <div class="form-group">
                    <label> Location: </label>
                    <input type="text" class="form-control" th:field="*{location}"/>
                </div>
                <div class="form-group">
                    <label> Occupied Start Date: </label>
                    <input type="datetime-local" class="form-control" th:field="*{occupiedStartDate}"/>
                </div>
                <div class="form-group">
                    <label> Occupied Start Date: </label>
                    <input type="datetime-local" class="form-control" th:field="*{occupiedEndDate}"/>
                </div>
                <div class="form-group">
                    <label> Guest Capacity: </label>
                    <input type="number" class="form-control" th:field="*{guestCapacity}" required/>
                </div>
                <input class="button" type="submit" value="Submit"/> <input class="button" type="reset" value="Reset"/>
            </form>
        </div>
    </div>
</div>

<script src="js/carousel.js"></script>
</body>

</html>

